*{box-sizing: border-box;}
header{
    height: 20%;
    width: 100%; 
    padding-top:0.2em;
}

header h1{
    margin-left: 2%;
    border-bottom: solid;
    border-color: lightgrey;
    border-width: 1px;
}

body{ 
    height: 100%; 
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    font-size: 100%;
    border-top:solid;
    border-color: rgb(143, 21, 64); 
    -webkit-font-smoothing: antialiased;
    font-family: 'Oswald', sans-serif;
}
aside{
    height:60%;
    width: 20%;
    float:left;
    text-align: center;
    border-right: solid;
    border-color: lightgrey;
    border-width: 2px;
    /* 
    margin-left: 9%;
    margin-right: 2.5%;
    border-right: 0.1em solid white; 
    */
}
#formDiv{       
    text-align: center;
    width: 80%;
    height: 20%;
    float: left;
    columns: 30px 3;
}

#showMore{
    display: none;
}

#showBtn{
    float:left;
    margin-left: 8.5%;
    margin-top: 1em;
}

form{
    margin-left: 8.5%;
    text-align: left;
}

main{
    width: 80%;
    height: 40%;
    border-top: solid;
    border-color: lightgray;
    border-width: 1px;
    background-color: yellow;
    margin-left: 20%;
    margin-top: 4.5%;
}
.num{
    width: 50px;
}
input{   
    padding: .25em;
    margin-bottom: .5em;
}

input[type=submit]{
    background-color: rgb(143, 21, 64);
    border-style: none;
    color: white;    
    width: 15em;  
    height: 3em;
    cursor: pointer;
}
footer{
    font-size: 12px;
    clear: both;
    float: none;
}
